.diagram {
  height: calc(100%);
  background: url('assets/ui-studio/public/img/grid.png') repeat;
}

.diagram :global(.srd-diagram) {
  height: calc(100%);
  background: url('assets/ui-studio/public/img/grid.png') repeat;
}

.wrapper {
  background-color: #f1f1f1;
}
.diagram :global(.srd-diagram .srd-link-layer .srd-default-link path) {
  stroke: rgb(171, 204, 204);
  stroke-width: 4px;
}

.diagram :global(.srd-diagram .srd-node-layer div[data-name='in']) {
  top: 19px;
  left: -54%;
  position: relative;
}

.diagram :global(.style__startPort___2GM6G .port) {
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
}

.diagram :global(.srd-diagram .srd-node-layer .style__item___J7KXD) {
  background: white;
}
